<!DOCTYPE html>
<html>
<head>
	<title>Hou Sheng Chiang</title>
	<meta charset="utf-8">

	<!--Facebook Preview-->
	<meta name="description" content="HouSheng's Personal Website 後聖的個人網站"/>
	<meta property="og:description" content="HouSheng's Personal Website 後聖的個人網站"/>
	<meta property="og:image" content="img/WebLogo/Personal Logo.png"/>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Angular-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<!--bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!--Import Json-->
	<script src="Lists.json"></script>

	<style type="text/css">
		body{
			/*iPhone 4 device width*/
			min-width: 320px;
		}
		#logo{
			height: 25px;
			padding-left: 7px;
			padding-right: 7px;
		}
		.navbar-brand {
			display: flex;
			align-items: center;
			font-size: 22px;
		}
		footer{
			background-color: #f2f2f2;
			padding: 17px; 
			font-size: 16px;
		}
		footer ul{
			list-style-type: none;
		}
		.social_icon{
			width: 28px;
			margin: 2px 7px 2px 0px;
			padding-bottom: 7px;
		}
	</style>

</head>
<body ng-app="myApp" ng-controller="webCtrl">
<nav class="navbar navbar-default">
	<div class="container">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" href="#/!"><img id="logo" src="img/WebLogo/Personal Logo.png"> Hou Sheng Chiang</a>
    	</div>
		<div class="collapse navbar-collapse navbar-right" id="myNavbar">
    		<ul class="nav navbar-nav text-center">
    			<li><a href="#/!">Home</a></li>
    			<li><a href="#!Experience">Experience</a></li>
    			<li class="dropdown">
    				<a class="dropdown-toggle" data-toggle="dropdown">
    					Certification<span class="caret"></span>
    				</a>
    				<ul class="dropdown-menu">
    					<li><a href="#!Cert&Edu">Certifications</a></li>
    					<li><a href="#!Cert&Edu">Educations</a></li>
    				</ul>
    			</li>
    			<li class="dropdown">
    				<a class="dropdown-toggle" data-toggle="dropdown">
    					Porfolio<span class="caret"></span>
    				</a>
    				<ul class="dropdown-menu">
    					<li><a href="#!Projects">Web/Application</a></li>
    					<li><a href="#!Gallery">Photo Gallery</a></li>
    				</ul>
				</li>
    			<a href="https://www.paypal.me/HSChiang/" target="_blank" class="btn btn-primary navbar-btn" role="button">Donation</a>

			</ul>
			<!--Donation Form-->
			
		</div>
	</div>
</nav>
<hr>
<!-- View Container -->
<div class="container-fluid" ng-view ></div>
<img src="img/PY.png" style="margin-top: -120px; width: 220px; opacity: 0.65">
<hr>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3" style="">
				<ul>
					<h4>Social Media</h4>
					<li>
						<a href="mailto:houshengchiang@gmail.com">
							<img alt="gmail_Icon" class="social_icon" src="img/gmail_Icon.png">
							<span>HOUSHENGCHIANG</span>
						</a>

					</li>
					<li>
						<a href="http://www.linkedin.com/in/HouShengChiang" target="_blank">
							<img alt="Linkedin_Icon" class="social_icon" src="img/Linkedin_Icon.png">
							<span>HOUSHENGCHIANG</span>
						</a>
					</li>
					<li>
						<a href="https://github.com/houshengchiang" target="_blank">
							<img alt="Github_Icon" class="social_icon" src="img/Github_Icon.png">
							<span>HOUSHENGCHIANG</span>
						</a>
					</li>
				</ul>
			</div>
		<div class="col-sm-6 text-center" style="border-width: 1px; border-style: none solid; ">
			<img src="img/WebLogo/Personal Logo.png" style="width: 180px; margin: 7px auto;">
		</div>
		<div class="col-sm-3">
			<h3 align="center"><u>Donation</u></h3>
			<p>This is a great method to support building and maintaining the website.</p>
			<p>Any amount is deeply appreciated.</p>
			<form class="form-inline" target="_blank">
				<div class="form-group">
					<input type="number" step="0.01" ng-model="dAmount" class="form-group" placeholder="Donation $USD" style="max-width: 65%;">
					<button ng-click="re()" class="btn btn-primary">Donate</button>
				</div>
				<h6><i>Redirect to Paypal payment page</i></h6>
			</form>
		</div>
		<hr>
	</div>

</footer>
	<div class="text-center" style="margin: 17px auto;">
		<div>&copy; 2017 Hou Sheng Chiang.
		All rights reserved.</div>
	</div>
<script>
	var app=angular.module("myApp",["ngRoute"]);

	app.config(function($routeProvider){
		$routeProvider
		.when("/", {
			templateUrl : "AboutMe.html"
		})
		.when("/Experience", {
			templateUrl : "Experience.html"
		})
		.when("/Cert&Edu", {
			templateUrl : "Cert&Edu.html"
		})
		.when("/Projects", {
			templateUrl : "Projects.html",
			controller : "pCtrl"
		})
		.when("/Gallery", {
			templateUrl : "Gallery.html"
		})
		.when("/PictureViewer",{
			templateUrl : "PictureViewer.html",
			controller : "pvCtrl"
		})
	})

	app.controller ('webCtrl', function($scope, $location){
		var amount = $scope.dAmount;
		$scope.re = function(){
			if ($scope.dAmount == undefined){
				alert("Please enter in currency format");
				return;
			}else
			window.open("https://www.paypal.me/HSChiang/" + $scope.dAmount)
		}
	});

	app.controller('pCtrl', function($scope,$location){
		$scope.plist =  ProjectList;
	})

	app.controller('gCtrl', function($scope,$location){
		$scope.glist =  PictureList;	
	})

	app.controller('pvCtrl', function($scope,$location){
		$scope.imgView = "";
		$scope.goBack = function(){
			window.history.back();
		}
	})

</script>

</body>
</html>